**

!EC-K-typing_group2and3.toml

!DB/
!DB/panaroo_refset/
!DB/panaroo_refset/gffs/
!DB/panaroo_refset/gffs/*.gff
!DB/panaroo_refset/edit_novel_gff.sh
!DB/panaroo_refset/prepare_gffs_for_generate.py
!DB/panaroo_refset/finalise_generated_gffs.py
!DB/panaroo_refset/K-gff_to_gbk.py
!DB/panaroo_refset/locus_metadata.csv

!private_builder/
!private_builder/*.py
!private_builder/Containerfile
!private_builder/environments/
!private_builder/environments/*.yml
